.weather-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.weather-card-dayTime,
.weather-card-icon,
.weather-card-degrees{
  text-align: center;
  color: white;
  align-self: center;
} 

.weather-card-degrees-text{
  font-size: 4em;
  margin: 0;
}

.weather-card-dayTime-text{
  font-size: 2.5em;
  margin: 0;
}

.weather-card-description{
  margin: 0;
}