.div-main-search{
  width: 98%;
}

form{
  position: relative;
  margin-top: 30px;
}

.search-div{

  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  color: white;

  width: 20%;
  height: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 30px;

}

.search-btn{
  position: absolute;
  top: 14px;
  background-color: transparent;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
