.search__container {
    padding-top: 64px;
}

.search__input-container {
  position: relative;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: white;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    background-position: 100% center;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  padding: 0;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
